* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
  }
  p{
    user-select: none;
  }
  div{
      user-select: none;    
  }
  #score{
    color: rgb(253, 253, 253);
    word-spacing: 60px;
    max-width: fit-content;
    margin-inline: auto;
  }
  #t{
    font-size: 2vh;
    color: white;
    position: absolute;
    top: 47%;
    right: 23vh;
  }
  #over{
    font-size: 2vh;
    color: white;
    position: absolute;
    top: 50%;
    margin-left:400px ;

  }

  #fps{
    color: rgb(255, 255, 255);
    position: absolute;    
    top: 0px;
    left : 0px;
  }
  #timer{
    color: rgb(255, 255, 255);
    position: absolute;    
    top: 0px;
    right : 0px;
  }
  #game-area {
    transition:all 0.5s;
    position: relative;
    width: 1000px;
    height: 1200px;
    background-color: black;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 8px;
  }


  #paddle {
    position: absolute;
    bottom: 15px;
    width: 100px;
    height: 15px;
    background-color: #03d1c7;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
  }
  
  #ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #03d1c7;
    border-radius: 50%;
   
  }
  
  .brick {
    
    position: absolute;
    width: 70px;
    height: 20px;
    border: 1px solid white;
    margin-top: 3vh;
    margin-left: 4vh;
    border-radius: 5px ;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.808);
    
  }
  @keyframes ballEntry {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes ballExit {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  
  .ball-animate {
   
    animation: ballEntry 0.5s ease-out;
    animation: ballExit 0.4s ease-out;
  }